body {
  background: linear-gradient(180deg, rgba(86,92,152,1) 0%, rgba(23,12,121,1) 23%, rgba(0,0,0,1) 50%);    color: white;
}

.nameSec {
    margin: 0;
    height: 80px;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.775);
    position: relative;
    
}
h1 {
    margin: 0;
    position: absolute;
    top: 30%;
    right: 35%;
}
.daysSec:nth-last-child(2) {
  margin-bottom: 15px;
}
.mainSec {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.775);
    background-image: url(./image/img.jpeg);
}

.daysSec {
    height: 50px;
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 0;
}


  .todo {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: rgb(240, 240, 240);
    border-radius: 6px;
    border: 2px solid lightgrey;
    position: relative;
    color: black;
  }
  .mainElementDiv {
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
  }
  
  .typeTrain {
    margin-bottom: 5px;
    justify-content: center;
    align-items: flex-start;
  }

  .firstDay, .secondDay, .thirdDay {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
  }

  .thirdDay {
    margin-right: 40px;
  }
  .typeTrain {
    display: flex;
   
    top: 50px;
    right: 100px;
  }
  .circle-check {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 100%;
  }
  
  .completed,
  .uncompleted {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.35s;
  }
  
  .completed:hover,
  .uncompleted:hover {
    background: rgba(137, 43, 226, 0.283);
  }
  
  .completed {
    background-color: black;
  }
  
  .uncompleted {
    border: 1px solid black;
  }
