.Modal {
  height: 30px;
  width: 250px;
  padding: 10px;
  box-shadow: 0 0 4px whitesmoke;

  border-radius: 24px;
  background-color: rgb(32, 61, 100);
  position: fixed;
  top: -60px;
  left: 17vw;
  z-index: 3;
  text-align: center;
  transition: all 0.35s ease;
}

.modal-show {
  top: 45px;
}
