.Slider {
  border: 1px solid rgb(218, 95, 55);
  height: 400px;
  position: relative;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgb(253, 116, 70);
}

.img-slider {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.left-slider {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  left: 0;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 4%;
}

.right-slider {
  font-size: 1.5rem;
  color: white;
  position: absolute;
  right: 0;
  height: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 4%;
}

.right-slider:hover,
.left-slider:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .right-slider,
  .left-slider {
    width: 8%;
  }
}
